<div class="container">
  <div class="controls">
    <div class="buttons-container">
      <button class="tab-button"
              [class.active]="activeLanguage === 'Все'"
              (click)="filterCoursesByLanguage('Все')">{{ "All courses"|translate }}</button>
      <button class="tab-button"
              [class.active]="activeLanguage === 'Русский'"
              (click)="filterCoursesByLanguage('Русский')">{{"In Russian"|translate}}</button>
      <button class="tab-button"
              [class.active]="activeLanguage === 'Казахский'"
              (click)="filterCoursesByLanguage('Казахский')">{{ "In Kazakh"|translate }}</button>
    </div>
    <div class="search-container">
      <input type="text" class="search-input" placeholder="{{'Search for courses...'|translate}}" [(ngModel)]="searchTerm">
      <button class="search-btn" (click)="onSearchCourse()">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</div>
<div class="cards" *ngIf="filteredCoursesList.length > 0; else noCourses">
  <div class="card" *ngFor="let course of filteredCoursesList" >
    <div class="card-content" [routerLink]="['/course-details', course.id]">
      <h2>{{ course.name }}</h2>
      <p class="price">{{ course.name}} Т/мес</p>
      <p class="duration">{{ course.durationInMonths }} months</p>
      <div class="info">
        <p>{{ course.level }}</p>
        <p>{{ course.language }}</p>
      </div>
    </div>
    <div class="card-image">
      <img src="{{course.imageKey}}">
    </div>
  </div>
</div>

<ng-template #noCourses>
  <div class="no-courses">
    <img src="assets/sad-emoji.png" alt="No Courses Icon" class="no-courses-icon" />
    <h2>Пока нету курсов в сайте</h2>
    <p>Похоже, что у вас еще нет доступных курсов. Начните изучение прямо сейчас!</p>
    <button class="btn start-learning" [routerLink]="['/courses']">Начать изучение</button>
  </div>
</ng-template>
<div class="space-below"></div>
