<header>
  <nav class="container">
    <div class="logo">
      <a routerLink="home">
        <img src="assets/logo.png" alt="BlockHub Logo">
      </a>
    </div>
    <ul class="nav-links" *ngIf="!authority">
      <li><a routerLink="home">{{"Home"|translate}}</a></li>
      <li><a routerLink="contact">{{ "Contact us"|translate }}</a></li>
      <li><a routerLink="courses">{{ "Courses"|translate }}</a></li>
      <li><a routerLink="contact">{{ "News & Events"|translate }}</a></li>
    </ul>
    <div class="auth-and-profile">
      <a *ngIf="authority" (click)="toggleDropdown()">
        <div class="user-profile">
          <div class="user-name">
            <div>{{ name}}</div>
          </div>
          <div class="user-image">
            <img *ngIf="imageUrl" [src]="imageUrl" alt="User image">
          </div>
        </div>
      </a>
      <div class="dropdown-content" *ngIf="dropdownOpen && authority">
        <a routerLink="/myCourse">Мои курсы</a>
        <a routerLink="profile">Профиль</a>
        <a routerLink="/my-purchases">Новости</a>
        <a routerLink="/test">Игра</a>
        <a routerLink="/courses">Все курсы</a>
        <a routerLink="/my-purchases" (click)="logout()">{{ "Logout"|translate }}</a>
      </div>
      <button *ngIf="!authority" routerLink="auth/login" class="sign-in-btn">{{"Sign in"|translate}}</button>
      <div class="language-dropdown">
        <button class="language-btn" (click)="toggleLanguageDropdown($event)">
          {{ currentLanguage | uppercase }}
        </button>
        <ul class="language-menu" *ngIf="languageDropdownOpen">
          <li class="lang-item" (click)="switchLanguage('ru')">Русский</li>
          <li class="lang-item" (click)="switchLanguage('kz')">Қазақша</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
