<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
<div *ngIf="!isLoading">
<div class="header" *ngIf="course$ | async as course">
  <div class="container" >
    <div class="header-content" >
      <div class="header-text">
        <h1 class="course-title">{{ course.name }}</h1>
        <div class="tags">
          <span class="tag">Blockchain</span>
        </div>
        <div class="course-details">
          <span class="detail level"><i class="fas fa-signal"></i>{{ course.level }}</span>
          <span class="detail language"><i class="fas fa-language"></i> {{ course.language }}</span>
          <span class="detail duration"> <i class="fas fa-clock"></i> {{ course.durationInMonths }} месяц(ев)</span>
        </div>
        <div class="author"><p>Provided by Blockhub</p></div>
      </div>
      <div class="empty-space">
        <div class="course-card">
          <img class="card-image" src="{{course.imageKey}}" alt="Course Presenter">
          <div class="card-info">
            <div class="info">
              <p>{{ course.level }}</p>
              <p>{{ course.language }}</p>
            </div>
            <div class="course-includes">
              <span>Этот курс включает</span>
              <div class="includes-item">{{course.modules.length}} модуля</div>
            </div>
            <div *ngIf="authority; else signIn">
              <button class="buy-btn" (click)="enrollInCourse(course.id)">Enroll in Course</button>
            </div>
            <ng-template #signIn>
              <div class="sign-in-prompt">
                <p>You must sign in to enroll in a course.</p>
                <button class="sign-in-button" routerLink="/auth/login">Sign In</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="course$ | async as course">
  <div class="course-description">
    <div class="learning-objectives">
      <h2>Чему вы научитесь?</h2>
      <div class="columns">
        <ul>
          <li *ngFor="let skill of course.skills.slice(0, 2)">{{ skill.skillDescription }}</li>
        </ul>
        <ul>
          <li *ngFor="let skill of course.skills.slice(2, 4)">{{ skill.skillDescription }}</li>
        </ul>
      </div>
    </div>
    <div class="detailed-info">
      <h4>Описание</h4>
      <p>{{ course.description }}</p>
    </div>
    <div class="lesson-plan">
      <div class="lesson-plan-header">
        <h2>План обучения</h2>
        <p> {{course.modules.length}} модуля</p>
      </div>
      <ul class="lesson-list">
        <div class="lesson-item" *ngFor="let module of course.modules">
          <div class="lesson-arrow"></div>
          <span class="lesson-title">{{ module.title }}</span>
        </div>
      </ul>
    </div>
  </div>
</div>
</div>
