<div class="container">
  <div class="contacts">
    <div class="contact-info">
      <h2>{{ 'contact_info' | translate }}</h2>
      <p>{{ 'phone' | translate }}</p>
      <p>{{ 'email' | translate }}</p>
      <p>{{ 'address' | translate }}</p>
      <ul class="social-icons">
        <li>
          <img src="assets/twitter.png" alt="{{ 'social_twitter' | translate }}">
        </li>
        <li>
          <img src="assets/instagram.png" alt="{{ 'social_instagram' | translate }}">
        </li>
        <li>
          <img src="assets/linkedin.png" alt="{{ 'social_linkedin' | translate }}">
        </li>
      </ul>
    </div>
    <div class="contact-form">
      <h2>{{ 'contact_us' | translate }}</h2>
      <p>{{ 'questions_comments' | translate }}</p>
      <form (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
        <div class="form-field">
          <label for="firstName">{{ 'first_name' | translate }}</label>
          <input type="text" id="firstName" [(ngModel)]="form.firstName" name="firstName" required>
        </div>
        <div class="form-field">
          <label for="lastName">{{ 'last_name' | translate }}</label>
          <input type="text" id="lastName" [(ngModel)]="form.lastName" name="lastName" required>
        </div>
        <div class="form-field">
          <label for="email">{{ 'email_label' | translate }}</label>
          <input type="email" id="email" [(ngModel)]="form.email" name="email" required>
        </div>
        <div class="form-field">
          <label for="phone">{{ 'phone_label' | translate }}</label>
          <input type="tel" id="phone" [(ngModel)]="form.phone" name="phone">
        </div>
        <div class="form-field">
          <label for="message">{{ 'message_label' | translate }}</label>
          <textarea id="message" [(ngModel)]="form.message" name="message"></textarea>
        </div>
        <div class="button-container">
          <button type="submit">{{ 'send_message' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
