.achievements-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
  background-color: white;
}

.certificates {
  width: 60%;
  padding: 20px;
}

.certificates h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.certificates-list {
  list-style-type: none;
  padding: 0;
}

.certificate-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.certificate-image img {
  margin-right: 15px;
}

.certificate-details {
  flex-grow: 1;
}

.certificate-title {
  font-size: 1.2em;
  margin: 0 0 5px;
  color: #333;
}

.certificate-university {
  margin: 0;
  color: #777;
}

.certificate-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.view-button, .download-button, .linkedin-button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.linkedin-button {
  background-color: #0077b5;
}

.linkedin-button img {
  margin-right: 10px;
}

.view-button:hover, .download-button:hover {
  background-color: #0056b3;
}

.linkedin-button:hover {
  background-color: #005580;
}


/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 500px;
  width: 30%;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.close-button:hover {
  color: #f00;
}

.copy-button {
  padding: 10px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.copy-button:hover {
  background-color: #0056b3;
}
