<div class="container">
  <div class="achievements-container">
    <div class="certificates">
      <h2>Мои сертификаты</h2>
      <ul class="certificates-list">
        <li class="certificate-card" *ngFor="let certificate of certificates">
          <div class="certificate-image">
            <img src="assets/cert.png" alt="Сертификат" width="70" height="60">
          </div>
          <div class="certificate-details">
            <h3 class="certificate-title">{{ certificate.courseName }}</h3>
            <p class="certificate-university">By BlockHub</p> <!-- Add actual university if available -->
          </div>
          <div class="certificate-actions">
            <button class="view-button" (click)="viewCertificate(certificate.fileKey)">
              <i class="fas fa-eye"></i>
            </button>
            <button class="download-button" (click)="downloadCertificate(certificate.certificateUrl)">
              <i class="fas fa-download"></i>
            </button>
            <button class="linkedin-button" (click)="openModal(certificate.certificateUrl)">
              <i class="fab fa-linkedin"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close-button" (click)="closeModal()">&times;</span>
      <img [src]="qrImageUrl" alt="QR Code">
      <p>Сканируйте QR-код, чтобы поделится сертификатом </p>
      <button class="copy-button" (click)="copyLink()">Копировать ссылку</button>
    </div>
  </div>
</div>
