.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
  background-color: white;
}

.achievements-container {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.certificates, .badges {
  padding: 20px;
}

.certificates {
  width: 40%;
  border-right: 1px solid #ddd;
}

.certificates h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.certificates ul {
  list-style-type: none;
  padding: 0;
}

.certificates li {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.certificate-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.certificate-actions {
  display: flex;
  justify-content: space-between;
}

.view-button, .download-button {
  padding: 10px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-button:hover, .download-button:hover {
  background-color: #0056b3;
}

.badges {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.badge {
  text-align: center;
  margin-bottom: 20px;
  width: 45%;
}

.badge img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.badge h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.badge p {
  font-size: 1em;
  color: #666;
}
